p.fire {
  background-color: #ff3737d5;
}

p.water {
  background-color: #5660f2d5;
}

p.bug {
  background-color: #a54e4ee0;
}

p.flying {
  background-color: #797171a8;
}

p.poison {
  background-color: #79a71ea8;
}

p.grass {
  background-color: #6edd42a8;
}

p.electric {
  background-color: #822785d5;
}

p.psychic {
  background-color: #bfb39d;
}

p.ghost {
  background-color: #50473893;
}

p.ice {
  background-color: #0400facb;
}

p.rock {
  background-color: #612c32cb;
}

p.ground {
  background-color: #8a376acb;
}

p.fighting {
  background-color: #ca9b8cda;
}

p.steel {
  background-color: #ccc;
}

p.steel {
  background-color: #ccc;
}

p.normal {
  background-color: #ff79bc95;
}

p.fairy {
  background-color: #fd3abcb0;
}
